@media (max-width:576px) {
	html {
		font-size: 0.8em;
	}
}

/*------- Logo do cliente -------*/
.logo_cliente_P {
	width: 70px;
}

.logo_cliente_rodape {
	position: absolute;
	width: 80px;
	right: 20px;
}

.imagem-cliente-login {
	padding: 20px;
	text-align: center;
}

.logo_petshop {
	width: 500px;
}

/*------- Imagen do usuário -------*/
.inset {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

@media (max-width:768px) {
	.inset {
		width: 28px;
  		height: 28px;
	}
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  z-index: 998;
}

/*------- Definições para o rodapé da página -------*/
.layout-rodape {
	padding: 25px;
	background-color: #484848;
	color: #fff;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	max-height: 15vh;
	z-index: 1;
}

@media ( max-width : 749px) {
	.layout-rodape {
		position: static;
		bottom: 0;
	}
}

/*------- Definições para dados e imagens da IridiumIT -------*/

.marca_iridiumit_rodape {
	position: absolute;
	width: 80px;
	right: 20px;
}

.texto_iridiumit {
	width: 150px;
}

/*------- Definições para as páginas de cadastro e pesquisa -------*/

.layout-pagina {
	padding: 10px 0;
}

.titulo-formulario {
	margin: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 1.2rem;
	font-weight: normal;
}

.titulo-lista {
	margin-top: 15px;
}

.titulo-formulario i {
	margin-right: 5px;
}

.pesquisa {
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.campo_obrigatorio::after {
	content: " *";
	color: red;
	font-weight: bold;
}

.text-primary {
	font-weight: bold;
}

.form-group p {
	margin-top: 0;
	padding-top: 0;
	line-height: 1;
}

