<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>

<body>

	<section class="aw-layout-content js-content layout-pagina"
		layout:fragment="content">

		<h1 class="titulo-formulario">
			<i class="far fa-handshake"></i>Fornecedor: <span
				class="text-primary" th:text="${fornecedor.nome}"></span>
		</h1>

		<th:block th:insert="layout/fragments/MensagemGeral :: sucesso"></th:block>

		<input type="hidden" th:field="*{id}" />

		<div class="row">

			<div class="col-sm-2">
				<div class="form-group">
					<label>CNPJ</label>
					<p class="form-group text-primary" th:text="${fornecedor.cnpj}"></p>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="form-group">
					<label>Contato</label>
					<p class="form-group text-primary" th:text="${fornecedor.contato}"></p>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="form-group">
					<label>Telefone</label>
					<p class="form-group text-primary" th:text="${fornecedor.telefone}"></p>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="form-group">
					<label>Celular</label>
					<p class="form-group text-primary" th:text="${fornecedor.celular}"></p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="form-group">
					<label>E-mail</label>
					<p class="form-group text-primary" th:text="${fornecedor.email}"></p>
				</div>
			</div>

		</div>

		<div class="container">
			<div class="form-row justify-content-between">

				<a id="btnincluirproduto" class="btn btn-success btn-sm col-sm-2"
					th:href="@{/fornecedores/produtos/incluirProduto/{id}(id=${fornecedor.id})}"
					th:title="'Incluir Produtos'"> <span class="fas fa-dolly"></span>
					Produto
				</a> <a id="btneditarcliente" class="btn btn-primary btn-sm col-sm-2"
					th:href="@{/fornecedores/editar/{id}(id=${fornecedor.id})}"
					th:title="'Editar Fornecedor'"> <span class="fa fa-pencil-alt"></span>
					Editar
				</a>
			</div>
		</div>

		<h1 class="titulo-formulario titulo-lista">
			<i class="fas fa-list"></i>Produtos
		</h1>
		<div class="form-row col-sm-6">
			<div class="pesquisa">
				<form method="GET" class="form-inline"
					th:action="@{/fornecedores/produtos/selecao/{id}(id=${fornecedor.id})}"
					th:object="${filtro}">
					<div class="input-group">
						<input class="form-control"
							placeholder="Qual produto você está procurando?"
							autofocus="autofocus" th:field="*{textoFiltro}">
						<div class="input-group-append">
							<button type="submit" class="btn btn-default">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="form-row">
			<div class="table-responsive-sm col-sm-12">
				<table id="tabela-produtos"
					class="table  table-sm table-striped table-bordered table-hover table-condensed js-sticky-table">
					<thead>
						<tr>
							<th scope="col" class="text-center">Código</th>
							<th scope="col">Descrição</th>
							<th scope="col" class="text-center">Qtd</th>
							<th scope="col" class="text-center">Valor compra</th>
							<th scope="col" class="text-center">Valor venda</th>
							<th scope="col" class="text-center">Lote</th>
							<th scope="col" class="text-center">Validade</th>
							<th scope="col" class="text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto: ${produtos}">
							<td class="text-center" th:text="${produto.id}">p1</td>

							<td th:text="${produto.descricao}">os1</td>

							<td class="text-center" th:text="${produto.qtd}">qtd</td>

							<td class="text-center"
								th:text="'R$ ' + ${produto.valorCompra}">valorcompra</td>

							<td class="text-center"
								th:text="'R$ ' + ${produto.valorVenda}">valorvenda</td>

							<td class="text-center" th:text="${produto.lote}">lote</td>

							<td class="text-center"
								th:text="${produto.getDataFormatada(produto.data_validade)}">validade</td>

							<td class="text-center">
								<form method="POST"
									th:onsubmit="'return confirm(\'Posso remover o produto: ' + 
								${produto.descricao} + ' da base de dados?\');'"
									th:action="@{/fornecedores/produtos/excluir/{id}(id=${produto.id})}">
									<input type="hidden" name="_method" value="DELETE" /> <a
										class="btn btn-primary btn-sm"
										th:href="@{/fornecedores/produtos/{id}(id=${produto.id})}"
										th:title="Editar"> <span class="fa fa-pencil-alt"></span>
									</a>
									<button type="submit" class="btn btn-danger btn-sm"
										title="Excluir">
										<span class="far fa-trash-alt"></span>
									</button>
								</form>
							</td>
						</tr>

						<tr>
							<td colspan="8" th:if="${produtos.empty}">Nenhum Produto
								cadastrado na base de dados!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>
