<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>

<body>
	<section layout:fragment="content">	
		<div class="layout-pagina">
		
			<h1 class="titulo-formulario"><i class="fas fa-user-md"></i>Atendimento de consultas</h1>

			<form name="formulario" method="POST" class="form-vertical  js-form-loading"
				th:object="${consulta}" th:action="@{/atendimento/consultas/salvar}">
				
				<div class="alert  alert-danger  alert-dismissible" role="alert"
					th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div th:each="erro: ${#fields.detailedErrors()}">
						<i class="fa fa-exclamation-circle"></i> <span
							th:text="${erro.message}">Mensagem erro.</span>
					</div>
				</div>

				<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>
					<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>
    			
				<input type="hidden" th:field="*{codigo}" />
				<input type="hidden" th:field="*{dataAtendimento}" />
				<input type="hidden" th:field="*{animal}" />
				<input type="hidden" th:field="*{usuario}" />
				
				<div class="row">
					<div class="col-sm-3 dadosDestaque">
						<div class="form-group">
							<label>Data da Consulta</label>
							<p class="layout-cabecalho--consulta" th:text="${consulta.getDataAtendimentoFormatada()}"></p>
						</div>
					</div>
					
					<div class="col-sm-3 dadosDestaque">
						<div class="form-group">
							<label>Tipo</label>
							<p class="layout-cabecalho--consulta" th:text="${consulta.tipo}"></p>
						</div>
					</div>

					<div class="col-sm-3 dadosDestaque">
						<div class="form-group">
							<label>Veterinário</label>
							<p class="layout-cabecalho--consulta" th:text="${consulta.usuario.nome}"></p>
						</div>
					</div>
					
					<div class="col-sm-3 dadosDestaque">
						<div class="form-group">
							<label>Animal</label>
							<p class="layout-cabecalho--consulta" th:text="${consulta.animal.nome}"></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 dadosDestaque">
						<div class="form-group">
							<label>Idade</label>
							<p class="layout-cabecalho--consulta" th:text="${consulta.animal.getIdade()}"></p>
						</div>
					</div>
					<div class="col-sm-3 dadosDestaque">
						<div class="form-group">
							<label>Raça</label>
							<p class="layout-cabecalho--consulta" th:text="${consulta.animal.raca}"></p>
						</div>
					</div>
					<div class="col-sm-3 dadosDestaque">
						<div class="form-group">
							<label>Sexo</label>
							<p class="layout-cabecalho--consulta" th:text="${consulta.animal.sexo}"></p>
						</div>
					</div>
					<div class="col-sm-3 dadosDestaque">
						<div class="form-group">
							<label>Espécie</label>
							<p class="layout-cabecalho--consulta" th:text="${consulta.animal.especie}"></p>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-sm-6">
						<div class="form-group">
							<label for="sintomas">Sintomas</label>
							<textarea id="sintomas" rows="4" cols="50"
								class="form-control" th:field="*{sintomas}"></textarea>
						</div>
					</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="diagnostico">Diagnostico</label>
							<textarea id="diagnostico" rows="4" cols="50"
								class="form-control" th:field="*{diagnostico}"></textarea>
						</div>
					</div>
					
				</div>
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>