<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	layout:decorate="~{layout/layout}">
<head>
	<script th:src="@{/js/jquery.mask.min.js}"></script>
	<script th:src="@{/js/mascaras.js}"></script>
	<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
</head>

<body>
	<section layout:fragment="content">
	
	<script type="text/javascript">
	$(function() {
		var decimal = $('.js-decimal');
		decimal.maskMoney({ decimal: ',', thousands: '.' });
		
		var plain = $('.js-plain');
		plain.maskMoney({ precision: 0, thousands: '.' });
	});
	</script>
		<div class="layout-pagina">

			<h1 class="titulo-formulario"><i class="fas fa-paw"></i>Cadastro de produtos para o fornecedor: 
				<span class="text-primary" th:text="${produto.fornecedor.nome}"></span>
			</h1>

			<th:block th:insert="layout/fragments/MensagemGeral :: sucesso"></th:block>

			<form method="POST" class="form-vertical js-form-loading"
				th:object="${produto}" th:action="@{/fornecedores/produtos/salvar}">
				
				<th:block th:insert="layout/fragments/MensagemErro :: erro"></th:block>
				
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{fornecedor}" />

				<div class="form-row">
					
					<div class="col-sm-6">
						<div class="form-group">
							<label class="campo_obrigatorio" for="descricao">Descrição</label>
							<input id="descricao" type="text" class="form-control" th:field="*{descricao}" />
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="form-group">
							<label class="campo_obrigatorio" for="tipo">Tipo</label>
							<select	id="tipo" class="form-control" th:field="*{tipo}">
									<option value="">Selecione o tipo</option>
									<option value="Acessorio">Acessório</option>
									<option value="Alimento">Alimento</option>
									<option value="Brinquedo">Brinquedo</option>
									<option value="Higiene">Higiene</option>
									<option value="Medicamento">Medicamento</option>
							</select>
						</div>
					</div>
					
					<div class="col-sm-1">
						<div class="form-group">
							<label class="campo_obrigatorio" for="qtd">Qtd</label>
							<input id="qtd" type="text"	class="form-control sonumeros" th:field="*{qtd}" />
						</div>
					</div>
					
					<div class="col-sm-2">
						<div class="form-group">
							<label class="campo_obrigatorio" for="unidademedida">Unidade de medida</label>
							<select	id="unidademedida" class="form-control" th:field="*{unidadeMedida}">
									<option value="">Selecione o unidade</option>
									<option value="Ampola">Ampola</option>
									<option value="Barra">Barra</option>
									<option value="Capsula">Cápsula</option>
									<option value="Cartela">Cartela</option>
									<option value="Caixa">Caixa</option>
									<option value="Embalagem">Embalagem</option>
									<option value="Frasco">Frasco</option>
									<option value="Kit">Kit</option>
									<option value="Kilo">Kilo</option>
									<option value="Lata">Lata</option>
									<option value="Litro">Litro</option>
									<option value="Metro">Metro</option>
									<option value="Pacote">Pacote</option>
									<option value="Palete">Palete</option>
									<option value="Unidade">Unidade</option>
							</select>
						</div>
					</div>
				</div>
				<!-- /.row -->
				<div class="form-row">
					
					<div class="col-sm-3">
						<div class="form-group">
							<label class="campo_obrigatorio" for="valorcompra">Valor compra</label>
							<input id="valorcompra" type="text" class="form-control js-decimal" th:field="*{valorCompra}" />
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="form-group">
							<label class="campo_obrigatorio" for="valorvenda">Valor venda</label>
							<input id="valorvenda" type="text" class="form-control js-decimal" th:field="*{valorVenda}" />
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="form-group">
							<label for="lote">Lote</label>
							<input id="lote" type="text" class="form-control" th:field="*{lote}" />
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="form-group">
							<label for="data_validade">Data de validade</label>
							<input	id="data_validade" type="date" class="form-control"	th:field="*{data_validade}" />
						</div>
					</div>
					
				</div>

				<div class="container">
				<div class="form-row justify-content-between">
					<button class="btn btn-primary btn-sm col-sm-2" type="submit"
						title="Salvar">
						<i class="far fa-save"></i> Salvar
					</button>
					<a id="btncancelar" class="btn btn-warning btn-sm col-sm-2"
						th:href="@{/fornecedores/produtos/selecao/{id}(id=${produto.fornecedor.id})}" th:title="'Cancelar operação'"> <i
						class="far fa-window-close"></i> Cancelar
					</a>
				</div>
			</div>
			</form>

		</div>
	</section>
</body>
</html>