<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="order (pagina, propriedade, texto, lista)">
	<a th:href="${pagina.urlOrdenada(propriedade)}"
		th:remove="${#lists.isEmpty(lista.content)} ? tag">
		<span th:text="${texto}"></span>
		<i class="fa fa-caret-up" th:if="${#lists.isEmpty(lista.content) == false}"
			th:remove="${pagina.descendente(propriedade)} ? tag">
		</i>
		<i class="fa fa-caret-down" th:if="${#lists.isEmpty(lista.content) == false}"
			th:remove="${!pagina.descendente(propriedade)} ? tag">
		</i>
	</a>
</th:block>

</html>