<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<script th:src="@{/js/BuscaCEP.js}"></script>
	<script th:src="@{/javascripts/jquery.mask.min.js}"></script>
	<script th:src="@{/js/mascaras.js}"></script>
	<script th:src="@{/webjars/jquery.inputmask/4.0.5/jquery.inputmask.bundle.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
	
			$(".fone").inputmask({
				mask : [ "(99) 9999-9999", "(99) 99999-9999", ],
				keepStatic : true
			});
	
		});
	</script>
</head>

<body>
	<section class="aw-layout-content  js-content layout-pagina" layout:fragment="content">
		
			<h1 class="titulo-formulario"><i class="fas fa-industry"></i>&nbsp;Cadastro de fornecedor</h1>

			<form method="POST" class="form-vertical  js-form-loading"
				th:object="${fornecedor}" th:action="@{/fornecedores/salvar}">
				
				<div class="alert  alert-danger  alert-dismissible" role="alert"
					th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div th:each="erro: ${#fields.detailedErrors()}">
						<i class="fa fa-exclamation-circle"></i>
						<span th:text="${erro.message}">Mensagem erro.</span>
					</div>
				</div>

				<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>
					<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>

				<input type="hidden" th:field="*{id}" />

				<div class="row">
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="nome">Nome<span class="obrigatorio"> *</span></label>
							<input id="nome" type="text" class="form-control" th:field="*{nome}" />
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="form-group">
							<label for="cnpj">CNPJ<span class="obrigatorio"> *</span></label>
							<input id="cnpj" type="text" class="form-control cnpj" th:field="*{cnpj}" />
						</div>
					</div>
					
					<div class="col-sm-2">
						<div class="form-group">
							<label for="ie">Inscrição Estadual</label>
							<input id="ie" type="text" class="form-control" th:field="*{ie}" />
						</div>
					</div>
				</div>

				<div class="row">
				
					<div class="col-sm-2">
						<div class="form-group">
							<label for="contato">Contato<span class="obrigatorio"> *</span></label>
							<input id="contato"	type="text" class="form-control" th:field="*{contato}"/>
						</div>
					</div>
					
					<div class="col-sm-2">
						<div class="form-group">
							<label for="telefone">Telefone<span class="obrigatorio"> *</span></label>
							<input id="telefone" type="text" class="form-control fone" th:field="*{telefone}" />
						</div>
					</div>
					
					<div class="col-sm-2">
						<div class="form-group">
							<label for="celular">Celular<span class="obrigatorio"> *</span></label>
							<input id="celular"	type="text" class="form-control fone" th:field="*{celular}" />
						</div>
					</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="email">E-mail<span class="obrigatorio"> *</span></label>
							<input id="email" type="text" class="form-control" th:field="*{email}" />
						</div>
					</div>
					
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="site">Site</label>
							<input id="site" type="text" class="form-control" th:field="*{site}" />
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row justify-content-between">
						
						<button class="btn  btn-primary btn-sm col-sm-1 "type="submit" title="Salvar">
							<i class="far fa-save"></i> Salvar
						</button>
						<a id="btncancelar" class="btn btn-warning btn-sm col-sm-1"
							th:href="@{/fornecedores}" th:title="'Cancelar operação'"> 
							<i class="far fa-window-close"></i> Cancelar
						</a>
					</div>
				</div>
			</form>
	</section>
</body>
</html>